.multi2
{
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;

    display: table;
    float: left;

    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 10px;

    border: 1px #fff solid;
}
